{% include 'head.twig' %}
<script src="public/js/piechart.js"></script>
<script src='{{"public/js/portfolio.js"}}'></script>
<title>Portfolio</title>
</head>

<body>
    <main>
        <h1 class="offset-lg-3 col-lg-6 offset-lg-3 offset-sm-2 col-sm-8 offset-sm-2">Hello <button class="none">{{ username }}</button>!</h1>
        <p id="explanation" class="offset-lg-2 col-lg-8 offset-lg-2 offset-sm-1 col-sm-10 offset-sm-1">
            Welcome back.
            <br>Look at the <a class="info" href="#statistic">statistics</a>.
        </p>

        <p>Your portfolio is worth :</p>
        <p id="user_worth"></p>
        <select id="fiatoption" name="money"></select>
        <section>
            <h3>PORTFOLIO</h3>
            <!-- Einbindung Datenbank -->
        </section>

        <button class="addSection button">ADD CHANGES</button>

        <section id="change">
                <fieldset>
                    <div id="portfolio" class="container">
                        {% for x in tUserDaten %}
                        <div class="newCurrency row">
                            <input class="amount" type="number" name="amount" value="{{ x.value }}">
                            <select class="portfolio_values" name="currency">
                                {% for i in tCryptoDaten %}
                                     {% if i.symbol == x.symbol %}
                                          <option class="portfolio_curr" value="{{ i.value }}" selected="true">{{ i.symbol }}</option>
                                     {% else %}
                                         <option class="portfolio_curr" value="{{ i.value }}">{{ i.symbol }}</option>
                                     {% endif %}
                                {% endfor %}
                            </select>
                            <p  name="CurrencyRowValue" class="change button">{{ Change }}</p>
                            <button class="button remove" type="button" name="remove">x</button>
                        </div>
                        {% endfor %}
                    </div>
                </fieldset>

                <fieldset>
                    <button id="add" class="button" type="button" name="add">ADD CRYPTOCURRENCY</button>
                </fieldset>

                <fieldset id="save">
                    <button id='safe_button'class="up submit" type="submit" name="save" value='{{test}}'>SAVE</button>
                </fieldset>
                <button class="closeSection button" type="button">CLOSE</button>
        </section>



        <section id="statistic">
            <h3>STATISTICS</h3>
            <!-- Graphen -->
            {% include 'piechart.twig' %}
        </section>

        <section id="logout">
            <form action="login/logout.php">
            <button class="up submit" type="submit" name="save">Logout</a> </button>
            </form>
        </section>

    </main>
    <div id="userForm">
        <div class="userBox">
            <div class="user-content">
                <button class="offset-8" id="close">CLOSE</button>
                <h2>PROFIL</h2>
                <p>What would you like to do, {{ username }}?</p>
                <button>Change my name</button>
                <div class="usernameChange">
                    <form method="post" action="??">
                        <p>How may I address you?</p>
                        <fieldset id="input">
                            <input id="newName" type="text" name="newName" required>
                        </fieldset>
                        <fieldset id="action">
                            <button class="up" type="submit" name="submit" value="Change">CHANGE</button>
                        </fieldset>
                    </form>
                </div>
                <button>Change my password</button>
                <div class="passwortChange">
                    <form method="post" action="??">
                        {% if error == true %}
                            <fieldset>
                                <p class="error">Sorry, something went wrong.<br>Please try again:</p>
                            </fieldset>
                        {% endif %}
                        <p>Please enter your old password:</p>
                        <fieldset id="input">
                            <input id="oldpassword" type="password" name="oldPassword" required>
                        </fieldset>
                        <p>Please enter your new password:</p>
                        <fieldset id="input">
                            <input id="newpassword" type="password" name="newPassword" required>
                            <input id="repeatpassword" type="password" name="repeatPassword" required>
                        </fieldset>
                        <fieldset id="action">
                            <button class="up" type="submit" name="submit" value="Change">CHANGE</button>
                        </fieldset>
                    </form>
                </div>
                <button>Change currency</button>
                <div class="currencyChange">
                    <form method="post" action="??">
                        <p>Please select a currency:</p>
                        <fieldset id="input">
                            <select id="fiatoption" name="money"></select>
                        </fieldset>
                        <fieldset id="action">
                            <button class="up" type="submit" name="submit" value="Change">CHANGE</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>