{% include 'head.twig' %}
<script src="public/js/piechart.js"></script>
<script src='{{"public/js/portfolio.js"}}'></script>
<title>Portfolio</title>
</head>

<body>

<div class="container">
    <div class="row">
        <div class="space col-12"></div>
    </div>
</div>

<header>
    <div class="offset-8 col-4">
        <button class="user white">ACCOUNT</button>
    </div>

    <div>
        <img id="logo" class="image hidden-xs" src="images/logo_large_w.png" height="485" width="172">
        <div class="text offset-lg-2 col-lg-8 offset-lg-2 offset-md-2 col-md-9 offset-sm-3 col-sm-8">
            <h1 class="user">HELLO {{ username }}!</h1>
            <p>Your portfolio is worth: </p>
            <div class="row col-12">
                <p id="user_worth"></p>
                <select id="fiatoption" name="money"></select>
            </div>
            <p>Look at the <a href="#statistic">statistics</a>.</p>
        </div>
    </div>
</header>

<main>
        <section class="simple">
            <h3>PORTFOLIO</h3>
            <!-- Einbindung Datenbank -->
        </section>

        <button class="addSection button">ADD CHANGES</button>

        <section class="simple" id="change">
                <fieldset>
                    <div id="portfolio" class="container">
                        {% for x in tUserDaten %}
                        <div class="newCurrency row">
                            <input class="amount" type="number" name="amount" value="{{ x.value }}">
                            <select class="portfolio_values" name="currency">
                                {% for i in tCryptoDaten %}
                                     {% if i.symbol == x.symbol %}
                                          <option class="portfolio_curr" value="{{ i.value }}" selected="true">{{ i.symbol }}</option>
                                     {% else %}
                                         <option class="portfolio_curr" value="{{ i.value }}">{{ i.symbol }}</option>
                                     {% endif %}
                                {% endfor %}
                            </select>
                            <p  name="CurrencyRowValue" class="change info">{{ Change }}</p>
                            <button class="button remove" type="button" name="remove">x</button>
                        </div>
                        {% endfor %}
                    </div>
                </fieldset>

                <fieldset>
                    <button id="add" class="button" type="button" name="add">ADD CRYPTOCURRENCY</button>
                </fieldset>

                <fieldset id="save">
                    <button id='safe_button' class="black submit" type="submit" name="save" value='{{test}}'>SAVE</button>
                </fieldset>
                <button class="closeSection button" type="button">CLOSE</button>
        </section>



        <section id="statistic">
            <h3>STATISTICS</h3>
            <!-- Graphen -->
            {% include 'piechart.twig' %}
        </section>

        <section id="logout">
            <form action="login/logout.php">
            <button class="black submit" type="submit" name="save">Logout</button>
            </form>
        </section>

    </main>
    <div id="upForm">
        <div class="upBox">
            <div class="up-content">
                <button class="offset-8" id="close">CLOSE</button>
                <h2>ACCOUNT</h2>
                <p>What would you like to do, {{ username }}?</p>
                <button id="name" class="black_width">CHANGE MY NAME</button>
                <div id="usernameChange">
                    <form method="post" action='login/changename.php'>
                        <fieldset id="input">
                            <label>How may I address you?</label>
                            <input id="newName" type="text" name="newName" required>
                        </fieldset>
                        <fieldset id="action">
                            <button class="black" type="submit" name="submit" value="Change">CHANGE</button>
                        </fieldset>
                    </form>
                </div>
                <button id="password" class="black_width">CHANGE MY PASSWORD</button>
                {% if error is defined %}
                <div id="passwortChange">
                    {% else %}
                    <div id="passwortChange" class="hidden">
                        {% endif %}
                    <form method="post" action="login/changepassword.php">
                        {% if error is defined %}
                            <fieldset>
                                <p class="error">{{ error }}</p>
                            </fieldset>
                        {% endif %}
                        <fieldset id="input">
                            <label>Please enter your old password:</label>
                            <input id="oldpassword" type="password" name="oldPassword" required>
                        </fieldset>
                        <fieldset id="input">
                            <label>Please enter your new password:</label>
                            <input id="newpassword" type="password" name="newPassword" required>
                            <label>Please confirm your password:</label>
                            <input id="repeatpassword" type="password" name="repeatPassword" required>
                        </fieldset>
                        <fieldset id="action">
                            <button class="black" type="submit" name="submit" value="Change">CHANGE</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

{% if error is defined %}
    <script>
        $('#upForm').removeAttr('class').addClass('log');
        $('body').addClass('up-active');
    </script>
{% endif %}
