{% include 'head.twig' %}
<title>Portfolio</title>
</head>

<body>
    <main>

        <h1 class="offset-lg-3 col-lg-6 offset-lg-3 offset-sm-2 col-sm-8 offset-sm-2">Hello <button class="none">{{ username }}</button>!</h1>
        <p id="explanation" class="offset-lg-2 col-lg-8 offset-lg-2 offset-sm-1 col-sm-10 offset-sm-1">
            Welcome back.
            <br>Look at the <a class="info" href="#statistic">statistics</a>.
        </p>

        <p>Your portfolio is worth {{ value }}.</p>

        <section>
            <h3>PORTFOLIO</h3>
            <!-- Einbindung Datenbank -->
        </section>

        <button class="addSection button">ADD CHANGES</button>

        <section id="change">
                <fieldset>
                    <div id="portfolio" class="container">
                        {% for x in tUserDaten %}
                        <div class="newCurrency row">
                            <select class="portfolio_values" name="currency">
                                {% for i in tCryptoDaten %}
                                {% if i.symbol == x.symbol %}
                                    <option class="portfolio_curr" value="{{ i.value }}" selected="true">{{ i.symbol }}</option>
                                {% else %}
                                    <option class="portfolio_curr" value="{{ i.value }}">{{ i.symbol }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            <input class="amount" type="number" name="amount" value="{{ x.value }}">
                            <button class="button remove" type="button" name="remove">x</button>
                        </div>
                        {% endfor %}
                    </div>
                </fieldset>

                <fieldset>
                    <button id="add" class="button" type="button" name="add">ADD CRYPTOCURRENCY</button>
                </fieldset>

                <fieldset id="save">
                    <button id='safe_button'class="up submit" type="submit" name="save" value='{{test}}'>SAVE</button>
                </fieldset>
                <button class="closeSection button" type="button">CLOSE</button>
        </section>



        <section id="statistic">
            <h3>STATISTICS</h3>
            <!-- Graphen -->
        </section>

        <section id="logout">
            <form action="login/logout.php">
            <button class="up submit" type="submit" name="save">Logout</a> </button>
            </form>
        </section>

    </main>
</body>